PORT=3000

# db
DATABASE_URL="postgresql://postgres:password@localhost:5432/db_name"
# auth
JWT_SECRET= your jwt secret
PRODUCTION_URL= your production url

# Email Configuration -- production
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587     # 587 = TLS (STARTTLS) | 465 = SSL | 25 = unencrypted (avoid)
EMAIL_USER=your email
EMAIL_PASS=your_app_password
EMAIL_FROM=AICN Training <yourgmail@gmail.com>

# Development email (ethereal)
ETHEREAL_USER=test@ethereal.com
ETHEREAL_PASS=test123
# Email Configuration - Ethereal
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=etehrealemail
SMTP_PASS=etehreal pswd
EMAIL_FROM="AICN Training <noreply@aicn.africa>"

# shared email config
DEBUG_EMAIL=true
SEND_TEST_EMAIL=true                 
TEST_EMAIL_RECIPIENT=test email address
NODE_ENV=development

# Puppeteer cache (optional)
PUPPETEER_CACHE_DIR=./.cache/puppeteer

# pdf upload
  CLOUDINARY_CLOUD_NAME=
  CLOUDINARY_API_KEY=
  CLOUDINARY_API_SECRET=

  FRONTEND_URL=
  SUPPORT_EMAIL=

FRONTEND_URL=http://localhost:5173
 SUPPORT_EMAIL=support@aicn.africa